<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Swipe feature</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="threadsinapool/templates/static/swipe.css">
    <script src="threadsinapool/templates/static/swipeEvent5.js.js"></script>
</head>
<body>
<div class="demo">
    <header class="demo__header"></header>
    <div class="demo__content">
        <div class="demo__card-cont">
            <div id="currentCard" class="demo__card">
                <img src="" id="currentEventImg" class="demo__card__img"></img>
                <p id="currentEventName" class="demo__card__name"></p>
                <div id="currentTicketbtm" class="demo__card__btm">
                    <p id="currentTicketWe" class="demo__card__we"></p>
                </div>
                <div class="demo__card__drag"></div>
            </div>
            <div id="nextCard" class="demo__card">
                <img src="" id="nextEventImg" class="demo__card__img"></img>
                <p id="nextEventName" class="demo__card__name"></p>
                <div id="nextTicketbtm" class="demo__card__btm">
                    <p id="nextCardWe" class="demo__card__we"></p>
                </div>
                <div class="demo__card__drag"></div>
            </div>
        </div>
        <p class="demo__tip">Swipe left or right</p>
    </div>
</div>
</body>
</html>