<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js">
    </script>
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

  <link rel="stylesheet" href="/static/tickets.css">

  <link rel="stylesheet" href="stylepage.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link rel="stylesheet" href="static/swipe.css">
  <script src="static/swipe.js"></script>
  <title>App</title>
</head>

<body class="container-fluid">
  
  <script src="/static/script.js"></script>

  <div id="navBar">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TICKETS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                  <ul id="login-dp" class="dropdown-menu">
                    <li>
                      <div class="row">
                        <div class="col-md-12">
                          Login via
                          <div class="social-buttons">
                            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                          </div>
                          or
                          <form class="form" role="form" method="post" action="login" accept-charset="UTF-8"
                            id="login-nav">
                            <div class="form-group">
                              <label class="sr-only" for="exampleInputEmail2">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address"
                                required>
                            </div>
                            <div class="form-group">
                              <label class="sr-only" for="exampleInputPassword2">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword2"
                                placeholder="Password" required>
                              <div class="help-block text-right"><a href="" style="color: black;">Forget the password ?</a>
                              </div>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> keep me logged-in
                              </label>
                            </div>
                          </form>
                        </div>
                        <div class="btn btn-primary text-center">
                         <a href="#" style="color: black;"><b>Join Us</b></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SignOut</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  
    </div>  
  </div>

  <div class="card-columns">
  
  </div>


  <div id="swiper">
    <div class="demo">
      <header class="demo__header"></header>
      <div class="demo__content">
        <div class="demo__card-cont">
          <div id="currentCard" class="demo__card">
            <img src="" id="currentEventImg" class="demo__card__img"></img>
            <p id="currentEventName" class="demo__card__name"></p>
            <div id="currentTicketbtm" class="demo__card__btm">
              <p id="currentTicketWe" class="demo__card__we"></p>
            </div>
            <div class="demo__card__drag"></div>
          </div>
          <div id="nextCard" class="demo__card">
            <img src="" id="nextEventImg" class="demo__card__img"></img>
            <p id="nextEventName" class="demo__card__name"></p>
            <div id="nextTicketbtm" class="demo__card__btm">
              <p id="nextCardWe" class="demo__card__we"></p>
            </div>
            <div class="demo__card__drag"></div>
          </div>
        </div>
        <p class="demo__tip">Swipe left or right</p>
      </div>
    </div>
  </div>



</body>

</html>